/src/RIG-SPECIFIC FILES/AOL Driver/Core/configuration_file_path.ini
/src/RIG-SPECIFIC FILES/Config pointer.ini
/src/RIG-SPECIFIC FILES/Configuration Files/Setup.ini
/src/RIG-SPECIFIC FILES/Configuration Files/Calibration.ini
