[Main Configuration File]
C:\Users\SilverLab\Documents\MATLAB\microscope_controller\Core\+default\setup.ini
[Calibration File]
C:\Users\SilverLab\Documents\MATLAB\microscope_controller\Core\+default\calibration.ini
[Laser Calibration File]
C:\Users\SilverLab\Documents\MATLAB\microscope_controller\Core\+default\laser_calibration.ini